* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;


}
body {
  color:black;
  background-color: white !important;
  /*background-size:cover;
  background-position: center center;*/
  
  
}
.navbar{
  padding-top: 25px;
}
nav {
 position: relative;
 width: 95%; /*calc(100% - 60px);*/
 margin: 0 auto;
 
 z-index: 1;
 text-align: right;
 padding-right: 2%;
}
.logo {
  width: 25%;
  float: left;
  color:black;
  font-size: 25px;
  text-align: left;
  padding: 10px 25px;
}
.logo a{
  
  text-decoration: none;
  color:black;
  letter-spacing: 1px;
  font-weight: bolder;
  font-size: 25px;
  padding:10px;
  
  

}
.menu-area li {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;  

}
.menu-area a {
  color: black;
  font-weight: 900;
  letter-spacing: 1px;
  display: block;
  padding: 15px 25px;
  font-size: 17px;
  line-height: 30px;
  position: relative;
  z-index: 1;
  text-decoration: none;  

}

.menu-area a:hover {
  
  color: black;
  text-decoration: none;  

}
nav:before {
  position: absolute;
  content: '';
  
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 100%;
  left: 0;
}
nav:after {
  position: absolute;
  content: '';
  
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 100%;
  right: 0;
}

/* slideshow */


.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
border-radius: 70px;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
font-weight: bold;
font-size: 30px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
color:yellow;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.3);
}

/* Caption text */
.text {
color:black;
font-weight: bolder;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
animation-fill-mode: forwards; 

}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}


/* categories of product */
.container{
margin:10px;

}

.blocka{
/*box-shadow: 10px 0px 15px rgba(0,0,0,.9);*/

display: inline-block;
width:300px;
height: 300px;

margin:40px 10px 10px 40px;
border-radius:12px;



}
.blockb{

/*box-shadow: 10px 0px 15px rgba(0,0,0,.9);*/

display: inline-block;
width:300px;
height: 300px;

margin:40px 10px 10px 40px;
border-radius:12px;

}
.images{

margin-top:15px;
text-align:center;
font-size:27px;

}
.images img{
width:200px;height:200px;

}
/*.images button{
border-radius: 12px;
transition-duration: 0.4s;
width: 50%;
height:30px;

background-color:rgb(63, 173, 30) ;
font-weight: bold;
}*/
/* slidshow second and third */
